<h3>{{quiz.content}}</h3>
<hr class="my-5" />
<form [formGroup]="quizSubmissionForm" (ngSubmit)="submitQuizSubmission()">
  <div *ngFor="let question of quiz.questions">

    <span class="font-weight-bold">{{question.content}}</span>
    <br />
    <ul class="list-unstyled">
      <li *ngFor="let answer of question.answers">
        <input type="checkbox" id="{{answer.content}}" class="mr-2" />
        <label for="{{answer.content}}">{{answer.content}}</label>
      </li>
    </ul>

  </div>
  <button type="submit" class="btn btn-primary float-right">Submit Quiz</button>
</form>