<div class="row justify-content-center">
  <div class="col-auto">
    <form [formGroup]="questionForm" (ngSubmit)="submitQuestion()">
      <h2>Add Questions</h2>
      <label>Question Text:</label>
      <input type="text" formControlName="content" />

      <h5>Answers:</h5>
      <ol formArrayName="answers">
        <li *ngFor="let answer of answers.controls; let i = index">
          <div [formGroupName]="i">
            <label>Valid answer?</label>&nbsp;
            <input type="checkbox" formControlName="isCorrect" />&nbsp;
            <input type="text" formControlName="content" />
          </div>
        </li>
      </ol>
      <div class="row pt-3">
        <div class="col">
          <button
            type="button"
            class="mr-2 btn btn-secondary"
            (click)="addAnswers()"
          >
            Add Answer
          </button>
          <button type="submit" class="btn btn-primary">Add Question</button>
        </div>
      </div>
    </form>
  </div>
</div>
