<div class="row">
  <div class="col">
    <h4>Select quiz to add questions:</h4>
    <ul *ngIf="quizzes" class="list-unstyled">
      <li *ngFor="let quiz of quizzes">
        <div class="card shadow-sm mb-3">
          <div class="card-body">
            <h4 class="d-inline-block">{{ quiz.content }}</h4>
            <a role="button" class="btn btn-primary float-right" [routerLink]="['/quiz', quiz.id]" (click)="quizSelect(quiz)">
              View/Edit Quiz
            </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
